@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

    /* HEADER AREA START */


.header {
    width: 100%;
    height: 65px;
    margin-top: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 251px;
}

.logo {
    color: #385F96;
    font-size: 48px;
    font-weight: 700;
    line-height: 135.5%;
    letter-spacing: 0.24px;
}

ul {
    display: flex;
    align-items: flex-end;
    gap: 29px;
}

ul li {
    list-style: none;
}

ul li a {
    color: #385F96;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.1px;
    text-decoration: none;
}

.btn {
    border-radius: 30px;
    background: #385F96;
    display: flex;
    padding: 14px 41px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn a {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
    /* HEADER AREA END */

    /* MAIN AREA START */

.hero {
    width: 100%;
    height: 433px;
    margin-top: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 245px;
}

.about h2 {
    width: 502px;
    color: #385F96;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0.24px;
}

.about p {
    width: 478px;
    margin-top: 30px;
    color: #4E4E4E;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.btn2 {
    border-radius: 30px;
    background: #385F96;
    margin-top: 30px;
    display: flex;
    width: 173px;
    padding: 14px 41px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn2 a {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

    /* MAIN AREA END */

    /* FOOTER AREA START */

.footer {
    width: 100%;
    height: 614px;
    margin-top: 200px;
    background-image: url(image/background.png);
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 222px;
}

.end {
    margin: 217px 0 218px 140px ;
}

.end h2 {
    width: 466px;
    height: 98px;
    color: #385F96;
    font-size: 36px;
    font-weight: 700;
    line-height: 135.5%; /* 48.78px */
    letter-spacing: 0.18px;
}

.footer img {
    margin: 111px 140px 112px 0;
    width: 472px;
    height: 391px;
}

.copyright {
    max-width: 1440px;
    height: 75px;
    background: #385F96;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

span {
    color: red;
}

/* FOOTER AREA END */